<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <br><br>
    <h1 class="home">You are authorized to browse InstantGram</h1>
    <%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image" %>
    <h2 class="home"> <%= link_to current_user.nickname, profile_path %> </h2>
    <%= link_to "Logout", logout_path, class: "btn btn-lg btn-default btn-home" %>
    <%= link_to "View your feed", dashboard_feed_path, class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
</div>