---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4965'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7\u0026max_id=1071650999454528550_36297940","next_max_id":"1071650999454528550_36297940"},"meta":{"code":200},"data":[{"attribution":null,"tags":["outdoorbella","getoutstayout","nature","mountainpeopleunite","rei1140project","neverstopexploring","explore","mountaingirls","welcometonature","theoutbound","alpinebabes","freshairandfreedom","radgirlslife","wanderlust","outdoorwomen","natureaddicts","adventureanywhere","utno","outdoorsupply","greettheoutdoors","liveyouradventure","andshesdopetoo","liveauthentic","adventuring","adventureladies","keepitwild","makemomentshappen"],"type":"image","location":null,"comments":{"count":1,"data":[{"created_time":"1441982361","text":"#outdoorwomen
        #neverstopexploring #outdoorsupply #mountainpeopleunite #outdoorbella #adventureladies
        #radgirlslife #getoutstayout #rei1140project #freshairandfreedom #explore
        #liveauthentic #andshesdopetoo #adventureanywhere #theoutbound #alpinebabes
        #utno #wanderlust #adventuring #mountaingirls #keepitwild #liveyouradventure
        #nature #natureaddicts #greettheoutdoors #welcometonature #makemomentshappen","from":{"username":"alpinebabes","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xap1\/t51.2885-19\/10727826_669237006514664_9655567_a.jpg","id":"1553556148","full_name":"Alpine
        Babes"},"id":"1071748185494517257"}]},"filter":"Normal","created_time":"1441982351","link":"https:\/\/instagram.com\/p\/7fnTeQEfXG\/","likes":{"count":145,"data":[{"username":"hanaa_abdelhady","profile_picture":"http:\/\/photos-g.ak.instagram.com\/hphotos-ak-xpa1\/t51.2885-19\/11186915_901534336556358_1215480775_a.jpg","id":"2076052680","full_name":"\u0647\u0646\u0627\u0621
        \u0639\u0628\u062f\u0627\u0644\u0647\u0627\u062f\u064a"},{"username":"luis.mosquera11","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11821893_325246537667442_828022434_a.jpg","id":"2060085118","full_name":"migue"},{"username":"sannal04","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11376195_1622175478049456_1805588170_a.jpg","id":"2065872190","full_name":"Sanna\u26bd\ufe0f\ud83d\udc97"},{"username":"hf_nilda_akn","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11376151_900218693360310_1236848825_a.jpg","id":"2075660742","full_name":"NILDA           l
        love NATURE."}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s320x320\/e35\/11875523_1496786280639701_663007530_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/c0.103.916.916\/11856640_865267093564137_681336275_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11875523_1496786280639701_663007530_n.jpg","width":640,"height":640}},"users_in_photo":[{"position":{"y":0.793333333,"x":0.715772926},"user":{"username":"briperri","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11950700_747149168744264_1574233731_a.jpg","id":"8762905","full_name":"Bri
        Perry"}},{"position":{"y":0.98366013,"x":0.091540029},"user":{"username":"dkota26","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11256687_958766007524090_648081795_a.jpg","id":"8429846","full_name":"Dakota
        Robbins"}}],"caption":{"created_time":"1441982351","text":"Hashtag #AlpineBabes!\n\u2800\u2800\u2800\n@briperri
        Grand Teton National Park\n\u2800\u2800\u2800\nPC: @dkota26\n\u2800\u2800\u2800\nWant
        to be featured?\ud83c\udf32\ud83d\uddfb\ud83d\udc99\n\u2800\u2800\u2800\n1\u20e3:
        Follow us on IG and Facebook\n\u2800\u2800\u2800\n2\u20e3: #AlpineBabes \u0026
        @AlpineBabes your photos.\n\u2800\u2800\u2800\n3\u20e3:Tag us in the picture
        with @alpinebabes\n\u2800\u2800\u2800","from":{"username":"alpinebabes","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xap1\/t51.2885-19\/10727826_669237006514664_9655567_a.jpg","id":"1553556148","full_name":"Alpine
        Babes"},"id":"1071748102749287940"},"user_has_liked":false,"id":"1071748098303325638_1553556148","user":{"username":"alpinebabes","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xap1\/t51.2885-19\/10727826_669237006514664_9655567_a.jpg","id":"1553556148","full_name":"Alpine
        Babes"}},{"attribution":null,"tags":["bestofnorthwest","welivetoexplore","wildernessculture","getoutstayout","pnwonderland","choosemountains","modernoutdoorsman","ourpnw","neverstopexploring","campingcollective","nocaig","columbia1938","humanpoweredadventures","thenwadventure","meetthemoment","theoutbound","pnwcollective","outdoorresearch","clymblife","bpmag","lifeofadventure","goatworthy","greettheoutdoors","cascadiaexplored","rei1440project","ourcamplife","thatpnwlife","departedoutdoors","flow397"],"type":"image","location":{"latitude":48.832777778,"name":"North
        Cascades National Park","longitude":-121.3475,"id":265143850},"comments":{"count":3,"data":[{"created_time":"1441981399","text":"#rei1440project  #meetthemoment
        #greettheoutdoors #wildernessculture #theoutbound #departedoutdoors #neverstopexploring
        #bpmag #welivetoexplore #ourpnw #lifeofadventure #theNWadventure #pnwonderland
        #clymblife #pnwcollective #thatpnwlife #flow397 #columbia1938 #bestofnorthwest
        #outdoorresearch #ourcamplife #campingcollective #choosemountains #humanpoweredadventures
       [...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4964'
      Content-Language:
      - en
      X-Ratelimit-Limit[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4963'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"username":"lakelouiserd","bio":"Member
        @tv_travel","website":"","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xap1\/t51.2885-19\/10731765_715714998508864_2025632698_a.jpg","full_name":"Max
        Millington","counts":{"media":286,"followed_by":718,"follows":192},"id":"581228915"}}'
  recorded_at: Fri, 11 Sep 2015 14:44:22 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4961'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"username":"lakelouiserd","bio":"Member
        @tv_travel","website":"","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xap1\/t51.2885-19\/10731765_715714998508864_2025632698_a.jpg","full_name":"Max
        Millington","counts":{"media":286,"followed_by":718,"follows":192},"id":"581228915"}}'
  recorded_at: Fri, 11 Sep 2015 14:44:23 GMT
recorded_with: VCR 2.9.3
