---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4919'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7\u0026max_id=1071703089143927216_201441843","next_max_id":"1071703089143927216_201441843"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1441985005","link":"https:\/\/instagram.com\/p\/7fsXdHIgPz\/","likes":{"count":16,"data":[{"username":"iateallyourcupcakes","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11363682_528434623971816_865559776_a.jpg","id":"313292089","full_name":""},{"username":"paige_woodfield","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/l\/t51.2885-19\/s150x150\/11849293_1641093609471443_1793661569_a.jpg","id":"296744571","full_name":"Paige
        McFarlane Woodfield"},{"username":"aureliew1505","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xpa1\/t51.2885-19\/10362158_1505060663057378_1287041749_a.jpg","id":"301638181","full_name":"Aur\u00e9lie"},{"username":"huckinfoes","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11381457_1459207847709048_2094152439_a.jpg","id":"303332142","full_name":"AIC\u0394RDI"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e35\/11899729_1488224528168815_588249667_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e35\/c180.0.720.720\/11821746_738005082976795_265894109_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11899729_1488224528168815_588249667_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":null,"user_has_liked":false,"id":"1071770362190103539_1236242175","user":{"username":"cabinlife_alaska","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/s150x150\/11849057_956786237711084_1698457856_a.jpg","id":"1236242175","full_name":""}},{"attribution":null,"tags":["landcapephotography","mountains","naturphotography","nature","s\u00fcdtirol","pustertal","landscape"],"type":"image","location":null,"comments":{"count":1,"data":[{"created_time":"1441984845","text":"\ud83d\udc4c\ud83d\udc4c\ud83d\udc4c","from":{"username":"adonella10","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11430201_1045223948823673_820770290_a.jpg","id":"2048813320","full_name":"Adonella
        Osta"},"id":"1071769019465812678"}]},"filter":"Normal","created_time":"1441984759","link":"https:\/\/instagram.com\/p\/7fr5hsB0kLC-Vu2YiNdKqSiHQG_g6PLZjxqhY0\/","likes":{"count":23,"data":[{"username":"marco.vsr","profile_picture":"http:\/\/photos-b.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/1124[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/search.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7&q=monkey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4918'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"media_count":3524059.0,"name":"monkey"},{"media_count":813121.0,"name":"monkeys"},{"media_count":226161.0,"name":"monkeydluffy"},{"media_count":125469.0,"name":"monkeybusiness"},{"media_count":100118.0,"name":"monkeyface"},{"media_count":79463.0,"name":"monkeybars"},{"media_count":69546.0,"name":"monkeyseemonkeydo"},{"media_count":66357.0,"name":"monkeyforest"},{"media_count":57220.0,"name":"monkeyboy"},{"media_count":47014.0,"name":"monkeyman"},{"media_count":46290.0,"name":"monkeybutt"},{"media_count":45569.0,"name":"monke[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/monkey/media/recent.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4917'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_max_tag_id":"1071766356681216505","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1071766356681216505","next_min_id":"1071770690754597138","min_tag_id":"1071770690754597138","next_url":"https:\/\/api.instagram.com\/v1\/tags\/monkey\/media\/recent?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7\u0026max_tag_id=1071766356681216505"},"meta":{"code":200},"data":[{"attribution":null,"tags":["crazy","monkey","youhavetolovethegoldens","child","biscuits","custardcream","nearly2years"],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1441985044","link":"https:\/\/instagram.com\/p\/7fscPHGl[...]
