---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4909'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7\u0026max_id=1071740024538823341_52118357","next_max_id":"1071740024538823341_52118357"},"meta":{"code":200},"data":[{"attribution":null,"tags":["wildernessculture"],"type":"image","location":{"latitude":52.885297193,"name":"Maligne
        Lake, Jasper","longitude":-118.081950774,"id":240467851},"comments":{"count":18,"data":[{"created_time":"1441987085","text":"Haha
        Ok thx.","from":{"username":"hi_frankie_t","profile_picture":"http:\/\/photos-f.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11820651_131791453827389_1833971482_a.jpg","id":"36846592","full_name":"Frankie
        Tseng"},"id":"1071787811477599978"},{"created_time":"1441987112","text":"@ajriley1234","from":{"username":"helloisaacthomas","profile_picture":"http:\/\/photos-g.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11250250_896043930454894_374450995_a.jpg","id":"459348075","full_name":"Isaac
        Thomas"},"id":"1071788039689680635"},{"created_time":"1441987113","text":"@nanakyl","from":{"username":"n1cogram","profile_picture":"http:\/\/photos-d.ak.instagram.com\/hphotos-ak-xfp1\/t[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/search.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7&q=monkey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4908'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"media_count":3515261.0,"name":"monkey"},{"media_count":813134.0,"name":"monkeys"},{"media_count":226170.0,"name":"monkeydluffy"},{"media_count":125971.0,"name":"monkeybusiness"},{"media_count":100086.0,"name":"monkeyface"},{"media_count":79481.0,"name":"monkeybars"},{"media_count":69546.0,"name":"monkeyseemonkeydo"},{"media_count":66390.0,"name":"monkeyforest"},{"media_count":57235.0,"name":"monkeyboy"},{"media_count":46960.0,"name":"monkeyman"},{"media_count":46291.0,"name":"monkeybutt"},{"media_count":4554[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/monkey/media/recent.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4907'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_max_tag_id":"1071784872568685828","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1071784872568685828","next_min_id":"1071788555195612552","min_tag_id":"1071788555195612552","next_url":"https:\/\/api.instagram.com\/v1\/tags\/monkey\/media\/recent?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7\u0026max_tag_id=1071784872568685828"},"meta":{"code":200},"data":[{"attribution":null,"tags":["funny","monkey","gross","followme","diseased","photooftheday","follow4follow","follow","funnybunk","kyliejennerlipchallenge","picoftheday","funnyshit"],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1441987173","link":"https:\/\/instagram.com\/p\/7fwgMqw32I\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e15\/11370985_960490427349039_940157366_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e15\/11370985_960490427349039_940157366_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/e15\/11370985_960490427349039_940157366_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1441987173","text":"#funny
        #funnybunk #funnyshit #follow #followme #follow4follow #kyliejennerlipchallenge
        #monkey #diseased #gross #photooftheday #picoftheday","from":{"username":"funnybunkk","profile_picture":"http:\/\/photos-b.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11849827_452441518289217_868515402_a.jpg","id":"2166609318","full_name":""},"id":"1071788556638453011"},"user_has_liked":false,"id":"1071788555195612552_2166609318","user":{"username":"funnybunkk","profile_picture":"http:\/\/photos-b.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11849827_452441518289217_868515402_a.jpg","id":"2166609318","full_name":""}},{"attribution":null,"tags":["dayoff","niceday","monkey","monkeyworld","happy"],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Ludwig","created_time":"1441987172","link":"https:\/\/instagram.com\/p\/7fwgCbHMmD\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"https:\/\[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4906'
      Content-Language:
      - en
      X-Ratelimit-Limit[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4905'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"username":"lakelouiserd","bio":"Member
        @tv_travel","website":"","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xap1\/t51.2885-19\/10731765_715714998508864_2025632698_a.jpg","full_name":"Max
        Millington","counts":{"media":286,"followed_by":718,"follows":192},"id":"581228915"}}'
  recorded_at: Fri, 11 Sep 2015 16:00:01 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4903'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"username":"lakelouiserd","bio":"Member
        @tv_travel","website":"","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xap1\/t51.2885-19\/10731765_715714998508864_2025632698_a.jpg","full_name":"Max
        Millington","counts":{"media":286,"followed_by":718,"follows":192},"id":"581228915"}}'
  recorded_at: Fri, 11 Sep 2015 16:00:02 GMT
recorded_with: VCR 2.9.3
