---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4925'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7\u0026max_id=1071700296769602515_1236242175","next_max_id":"1071700296769602515_1236242175"},"meta":{"code":200},"data":[{"attribution":null,"tags":["landcapephotography","mountains","naturphotography","nature","s\u00fcdtirol","pustertal","landscape"],"type":"image","location":null,"comments":{"count":1,"data":[{"created_time":"1441984845","text":"\ud83d\udc4c\ud83d\udc4c\ud83d\udc4c","from":{"username":"adonella10","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11430201_1045223948823673_820770290_a.jpg","id":"2048813320","full_name":"Adonella
        Osta"},"id":"1071769019465812678"}]},"filter":"Normal","created_time":"1441984759","link":"https:\/\/instagram.com\/p\/7fr5hsB0kLC-Vu2YiNdKqSiHQG_g6PLZjxqhY0\/","likes":{"count":16,"data":[{"username":"koreyeleven","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xap1\/t51.2885-19\/11190333_655978067841409_472332869_a.jpg","id":"212687391","full_name":"Korey
        Taylor"},{"username":"jakob_1701","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/11313560_1002677593076041_1285757641_a.jpg","id":"1345393971","full_name":"Jakob
        Tratz"},{"username":"glcanxlmh","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xap1\/t51.2885-19\/10623831_801145526636114_586518680_a.jpg","id":"545939477","full_name":"QueenStar
        * GLCNN"},{"username":"pedcris","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/11856821_421994024677045_1199937707_a.jpg","id":"501331663","full_name":"Cristian
        Pedratscher"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s320x320\/e35\/11931047_506599859505630_1647043300_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e35\/11931047_506599859505630_1647043300_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11931047_506599859505630_1647043300_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1441984759","text":"#landscape
        #landcapephotography #naturphotography #nature #mountains #s\u00fcdtirol #pustertal","from":{"username":"michl_007","profile_picture":"http:\/\/photos-f.ak.instagram.com\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11351570_1592242047707845_1054011092_a.jpg","id":"1531350465","full_name":"S\u00fcdtirol
        \ud83d\udcf7 South Tyrol IT"},"id":"1071768308816497261"},"user_has_liked":false,"id":"1071768305519773963_1531350465","user":{"username":"michl_007","profile_picture":"http:\/\/photos-f.ak.instagram.com\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11351570_1592242047707845_1054011092_a.jpg","id":"1531350465","full_name":"S\u00fcdtirol
        \ud83d\udcf7 South Tyrol IT"}},{"attribution":null,"tags":["dolomites","ig_veneto","neverstopexploring","italia","cortina","dolomiti","picoftheday","landscape"],"type":"image","location":{"latitude":46.518888889,"name":"Falzarego
        Pass","longitude":12.009444444,"id":250654826},"comments":{"count":1,"data":[{"created_time":"1441984910","text":"bella
        differenza !!!!! \ud83c\udf1e\u2744","from":{"username":"adonella10","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11430201_1045223948823673_820770290_a.jpg","id":"2048813320","full_name":"Adonella
        Osta"},"id":"1071769567395316188"}]},"filter":"Normal","created_time":"1441984503","link":"https:\/\/instagram.com\/p\/7fraQ1LAKq\/","likes":{"count[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4924'
      Content-Language:
      - en
      X-Ratelimit-Limit[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4923'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"username":"lakelouiserd","bio":"Member
        @tv_travel","website":"","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xap1\/t51.2885-19\/10731765_715714998508864_2025632698_a.jpg","full_name":"Max
        Millington","counts":{"media":286,"followed_by":718,"follows":192},"id":"581228915"}}'
  recorded_at: Fri, 11 Sep 2015 15:22:26 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4920'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
   [...]
