---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/feed.json?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4939'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/self\/feed?access_token=581228915.10526ad.c8b44c2a1242401a8a8a2a8a1326dfd7\u0026max_id=1071700296769602515_1236242175","next_max_id":"1071700296769602515_1236242175"},"meta":{"code":200},"data":[{"attribution":null,"tags":["dolomites","ig_veneto","neverstopexploring","italia","cortina","dolomiti","picoftheday","landscape"],"type":"image","location":{"latitude":46.518888889,"name":"Falzarego
        Pass","longitude":12.009444444,"id":250654826},"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1441984503","link":"https:\/\/instagram.com\/p\/7fraQ1LAKq\/","likes":{"count":13,"data":[{"username":"ely.69__nutellosa","profile_picture":"http:\/\/photos-g.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11356858_858227810913806_617101333_a.jpg","id":"225509987","full_name":"Elena"},{"username":"ewahren","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11887275_1008791015840340_1848124488_a.jpg","id":"387457021","full_name":"Eckhard"},{"username":"ale_i_","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11249937_413540312177276_1192613050_a.jpg","id":"470962270","full_name":"Alessandro
        Iacobellis"},{"username":"oivindgeorg","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xpf1\/t51.2885-19\/10983713_1602094240003200_562007948_a.jpg","id":"406287091","full_name":"\u00d8ivind
        Georg Johansen"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s320x320\/e35\/11939315_181958298802259_1350395051_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e35\/11939315_181958298802259_1350395051_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11939315_181958298802259_1350395051_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1441984503","text":"#dolomiti
        #dolomites #picoftheday #ig_veneto #landscape #italia #cortina #NEVERSTOPEXPLORING
        \n9 Agosto - 12 Settembre \ud83d\udd1d\u2744\u2744\u2744\u2744\u2744\u2744\u2744\u2744","from":{"username":"gianlucabosi","profile_picture":"http:\/\/photos-h.ak.instagram.com\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11881664_411642739020711_1385420402_a.jpg","id":"416077815","full_name":"Gianluca
        Bosi"},"id":"1071766160001466513"},"user_has_liked":false,"id":"1071766157115785898_416077815","user":{"username":"gianlucabosi","profile_picture":"http:\/\/photos-h.ak.instagram.com\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11881664_411642739020711_1385420402_a.jpg","id":"416077815","full_name":"Gianluca
        Bosi"}},{"attribution":null,"tags":["greymountain","greatnorthcollective","special_shots","wildernessculture","tourcanada","dream_spots","letsgosomewhere","ourdaileyplanet","picofday","natgeo","theoutbound","instagood","travelstoke","epic_captures","yukon","teamtravelers","imagesofcanada[...]
