html,
body {
    height: 100%;
    padding-top: 10px;
}

/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */

.carousel {
    height: 77%;
}

#title {
    position: absolute;
    top: 250px;
    color: white;
    text-shadow: 2px 2px #000000;
    left: 600px;
    text-align: center;
    z-index: 1;
    font-size: 40px;
}

body {
    background-color: #BBBBBB;
}

.item,
.active,
.carousel-inner {
    position: relative;
    height: 100%;
    z-index: 0;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: 0;
}

footer {
    margin: 50px 0;
}
