.top-bar-section ul li > a {
  /* color: #FFFFFF; */
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: n;
  padding-bottom: 50px;
  padding: 10px 400px;
  width: 200px;
  color: #125688;
  background: 0 0;
}

@media only screen and (min-width: 40.0625em) {
  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: white;
    background: white;
  }
}
.top-bar-section ul li:hover:not(.has-form) > a {
  color: pink;
}
.top-bar-section ul li:hover:not(.has-form):active > a {
  color: green;
  text-decoration: underline;
}
.top-bar-section ul li > a:active {
  color:green;
  text-decoration: underline;
}