.profile-images {
  padding: 1%;
}

.avatar {
  height: 152px;
  margin-bottom: -7px;
  margin-top: -7px;
  width: 152px;
  background-color: #fbfbfb;
  border-radius: 100%;
  border: 1px solid #cccfd0;
  align-self: center;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

